<div class="container">

    <h1>Contact</h1>

    <form class="col-lg-8">

        <div class="row">

            <div class="col-lg-6 mt-2  mb-2">
                <input type="text"  class="form-control" placeholder="enter the first name">
            </div>
            <br>

            <div class="col-lg-6 mt-2  mb-2">
                <input type="text"  class="form-control" placeholder="enter the last name">
            </div>

            <div class="col-lg-10 mt-2  mb-2">
                <input type="text"  class="form-control" placeholder="enter the email id">
            </div>

            <div class="col-lg-10 mt-2  mb-2">
                <input type="text"  class="form-control" placeholder="enter mobile number">
            </div>

            <div class="col-lg-10 mt-2  mb-2">
                <input type="text"  class="form-control" placeholder="enter the alternate mobile number">
            </div>

            <div class="col-lg-12">
                <button class="btn btn-md btn-dark">submit</button>
            </div>

         


        </div>


    </form>


</div>
