<div class="container mt-5 mb-5">

    <img src="" width="100%">

    <h1 style="margin-top: 5;  text-align: center;">ABOUT</h1>

    <p> For body, growth and maintenance
        During childhood, food is essential for the growth of the body.
        The body structures like the bones and tissues need sufficient protein, calcium and other nutrients for growth.
        These are provided by food.
        Even the bodyweight is directly proportional to food intake. To maintain a healthy weight having regular food is essential.
        Food gives shape and form to the body.
        The food contains proteins that provide amino acids for digestion.
        These amino acids in the body act to build body cells and other tissues to maintain shape and function.

        <br>
        For Health
Some medicines are supplements of vitamins, minerals, enzymes, etc.
If nutrient-rich food is taken, the need for that medicine will not arise.
So food acts as a medicine if taken in proper form and right amounts.
In many cases, food is needed for the cure. For instance, when one is feeling sick, if he eats sufficient food, his immunity boosts up, and he feels relieved from cough, cold-like symptoms to a recognizable extent.
Even in most diseases or infections, patients become weak and weak as they have stopped or reluctant to have food.
Nutrition deficiency diseases. These are sorts of diseases wherein lack of food or excess food causes the disorder.
In the case of acidity, one of the best techniques to overcome acidity is to have a small quantity of food at frequent short intervals. 
    
    </p>

</div>
